/**
    kaso.rocks > css
	kaso.rocks | @kaceykaso
	GNU GPL 3.0 license
**/

 /* FOOTER 🦶 */

 footer#footer {
    display: flex;

    background: darkslategrey;
    color: rgb(207, 191, 165);
    /* Space 🪐 */
    bottom: -2px;
    left: 0;
    padding: 2em 1em;
    position: fixed;
    right: 0;
    width: 100dvw;
    /* Flexing 💪 */
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    &> p > a {
      color: rgb(207, 191, 165);
    }
 }

footer .surprise {
   visibility: hidden;
}

 /* TYPOGRAPHY 🔤 */

 /* FORMS 📝 */

 /* ANIMATIONS 📺 */

 /* RESPONSIVE 📱 */
 @media screen and (max-width: 413px) {
    footer#footer {
        font-size: 0.75em;
        flex-flow: row wrap;
        padding: 20px 10px;
        position: relative;
    }
 }
 @media screen and (min-width: 414px) and (max-width: 640px) {
   footer#footer {
      font-size: 1.5vh;
      padding: 1em 15px 10px;
      position: relative;
   }
 }