/**
    kaso.rocks > css
	kaso.rocks | @kaceykaso
	GNU GPL 3.0 license
**/

 /* FOOTER 🦶 */
/* rgb(224, 2, 236) */
 footer#footer {
    display: flex;
    /* Colors 🎨 */
    background: linear-gradient(to top, black 20%, transparent), url(https://grainy-gradients.vercel.app/noise.svg);
    background-size: cover;
    filter: contrast(170%) brightness(1000%);
    mix-blend-mode: multiply;
    /* Space 🪐 */
    bottom: -2px;
    height: 150px;
    left: 0;
    padding: 2em 1em 1em;
    position: fixed;
    right: 0;
    width: 100dvw;
    /* Flexing 💪 */
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: center;
   
    &> p,
    &> p > a {
      color: white;
    }
 }

 footer#footer.packed {
   position: fixed;
   
   &> p {
      margin: 0;
      padding-bottom: 12px;
   }

   &> ul {
      display: flex;
      /* Space 🪐 */
      margin: 0;
      padding-bottom: 15px;
      /* Flexing 💪 */
      align-items: center;
      flex-flow: row nowrap;
      gap: 4vw;
      justify-content: space-between;
   }
 }

footer .surprise {
   display: none;
}

 /* TYPOGRAPHY 🔤 */

 /* FORMS 📝 */

 /* ANIMATIONS 📺 */

 /* RESPONSIVE 📱 */
 @media screen and (max-width: 413px) {
    footer#footer {
        font-size: 0.75em;
        flex-flow: column;
        padding: 20px 10px;
        position: relative;
    }
 }
 @media screen and (min-width: 414px) and (max-width: 640px) {
   footer#footer {
      font-size: 1.5vh;
      padding: 1em 15px 10px;
      position: relative;
   }
 }