/**
    kaso.rocks > css
	kaso.rocks | @kaceykaso
	GNU GPL 3.0 license
**/

/** IMPORTS **/

@import url("fonts.css");
@import url("snowflakes.css");
@import url("header.css");
@import url("gameboy.css");
@import url("footer.css");

/* BODY 🧍‍♂️ */

body {
    /* Colors 🎨 */
    background: linear-gradient(180deg, teal, rgb(244, 78, 183), goldenrod, teal);
    color: #2F2D29;
    /* Space 🪐 */
    height: 100vh;
    margin: 0 auto;
    /* Fonts 🔤 */
    font-family: sans-serif;
}

.fonts-loaded body {
    font-family: 'Press Start 2P';
}

p {
    margin: 0 auto;
 }

 ul {
    list-style: none;
 }

 a:not(.nes-btn) {
   text-decoration: underline;
}

 /* CONTENT 📖 */

section.main {
   display: flex;
   /* Flexing 💪 */
   flex-flow: row;
   justify-content: space-around;
   /* Space 🪐 */
    margin: 0.5em;
    padding-bottom: 100px; /* give footer some breathing room */
}

section > div {
   /* Colors 🎨 */
   background: darkgrey;
   color: black;
   border: transparent;
   border-bottom: 3px solid grey;
   border-right: 3px solid grey;
   border-radius: 4px;
   box-shadow: 1px 1px 5px 1px darkslategrey; 
}

section.longform {
   margin: 0 4vw;

   &> div {
      padding: 2vw;
   }

   & ul {
      font: 1.5rem Arial, Helvetica, sans-serif;

      &.keyvalue {
         padding-left: 0;
      }
   }

   & ul li {
      padding-bottom: 15px;
   }

   & ul li p {
      padding-left: 2vw;
   }

   & ul li ul {
      list-style: circle;
      margin-left: 2vw;
   }
}

 /* TYPOGRAPHY 🔤 */



 /* FORMS 📝 */

 /* ANIMATIONS 📺 */

 /* RESPONSIVE 📱 */
 @media screen and (max-width: 650px) {
   section.main {
      align-items: center;
      flex-flow: column;
      gap: 20px;
      justify-content: center;
      padding-bottom: 0;
   }
 }
 @media screen and (min-width: 650px) and (max-width: 1100px) {
   section.main {
      align-items: center;
      flex-flow: column;
      gap: 20px;
      justify-content: center;
   }
 }

 /* OVERRIDES ☠️ */
 a.nes-btn,
.nes-container {
    margin-bottom: 1em;
}

 @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .nes-btn {
        border-image-repeat: stretch;
    }
 }