/**
    kaso.rocks > css
	kaso.rocks | @kaceykaso
	GNU GPL 3.0 license

COLOR PALETTE
-------------
tbd
**/

/* BODY 🧍‍♂️ */

body {
    /* Colors 🎨 */
    background: linear-gradient(180deg, rgb(244, 78, 183), teal, rgb(151, 65, 151), rgb(246, 246, 124)) no-repeat;
    color: #2F2D29;
    /* Space 🪐 */
    height: 100vh;
    margin: 0 auto;
}

p {
    margin: 0 auto;
 }

 ul {
    list-style: none;
 }

/* HEADER 💀 */

header {
    display: inline;
    font-size: 1.5vw;
    /* Space 🪐 */
    float: right;
    padding: 1em;
    width: 40vw;
}

header ul {
    display: flex;
    /* Flexing 💪 */
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

 /* CONTENT 📖 */

 .main {
    /* Colors 🎨 */
    background: darkgrey;
    color: black;
    border-bottom: 3px solid grey;
    border-right: 3px solid grey;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px darkslategrey;
   /* Space 🪐 */
    margin: 0.5em;
 }

 section.main {
    display: inline;
    /* Space 🪐 */
    float: left;
    padding: 1em;
    width: 55vw;
 }

 .screen {
    background: seagreen;
    border: solid grey;
    border-radius: 5px;
 }

 .controls {
    display: flex;
    /* Flexing 💪 */
    align-items: center;
    flex-flow: row nowrap;
    justify-content: space-evenly
 }

 .controls .d-pad {
    margin: 0;
    padding: 0;
 }

 .controls .d-pad .d-row {
    clear: left;
    display: block;
 }

 .controls .d-pad .d-row > * {
    display: inline;
    float: left;
 }

 .controls .d-pad .single {
    margin: 0 1.5em;
 }

 .controls .d-pad .d-up,
 .controls .d-pad .d-left,
 .controls .d-pad .d-center,
 .controls .d-pad .d-right,
 .controls .d-pad .d-down {
    /* Colors 🎨 */
    background: grey;
    /* Space 🪐 */
    height: 1.5em;
    padding-bottom: 0.25em;
    width: 1.5em;
    /* Fonts 🔤 */
    line-height: 0.25em;
    text-align: center;
 }

 .controls .d-pad .d-up {
    border-top: 2px solid lightgrey;
    border-left: 2px solid transparent;
    border-right: 2px solid lightgrey;
    border-bottom: 2px solid black;
    transform: rotate(-90deg);
 }

 .controls .d-pad .d-left {
    border-top: 2px solid lightgrey;
    border-left: 2px solid lightgrey;
    border-right: 2px solid transparent;
    border-bottom: 2px solid black;
 }

 .controls .d-pad .d-center {
    border: transparent;
 }

 .controls .d-pad .d-right {
    border-top: 2px solid lightgrey;
    border-left: 2px solid transparent;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
 }

 .controls .d-pad .d-down {
    border-top: 2px solid lightgrey;
    border-left: 2px solid black;
    border-right: 2px solid transparent;
    border-bottom: 2px solid black;
    transform: rotate(-90deg);
 }


 .controls .middle-btns > button {
    /* Colors 🎨 */
    background: grey;
    /* Fonts 🔤 */
    font-size: 0.5em;
 }

 /* FOOTER 🦶 */

 footer#footer {
    display: flex;
    /* Space 🪐 */
    bottom: 0;
    margin: 2em 1em;
    position: fixed;
    width: 100%;
    /* Flexing 💪 */
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
 }

footer .surprise {
   visibility: hidden;
}

 /* TYPOGRAPHY 🔤 */

 /* FORMS 📝 */

 /* ANIMATIONS 📺 */

 /* RESPONSIVE 📱 */
 @media screen and (min-width: 50px) and (max-width: 650px) {
   header.main, section.main {
      display: block;
      float: none;
      font-size: 0.5em;
      width: 95%;
   }
   section.main {
      margin-top: 10px;
   }
   footer#footer {
      /*background: linear-gradient(0deg, white,80%, transparent);*/
      font-size: 1.5vh;
      margin: 10px 0 0;
      padding: 0 15px 10px;
      position: relative;
   }
 }

 /* OVERRIDES ☠️ */
 a.nes-btn,
.nes-container {
    margin-bottom: 1em;
}

 @media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .nes-btn {
        border-image-repeat: stretch;
    }
 }
