/**
    kaso.rocks > css
	kaso.rocks | @kaceykaso
	GNU GPL 3.0 license
**/

section.path {
    --pink: rgb(252, 55, 183);
    --cyan: rgb(0, 153, 255);
    --yellow: rgb(255, 221, 1);
    --teal: rgb(10, 217, 169);
    --purple: rgb(156, 6, 242);
    --orange: rgb(255, 166, 0);

    display: flex;
    flex-flow: column;
    padding: 0 10% 200px;

    &> div {
        background: none;
        border: revert;
        border-radius: revert;
        box-shadow: revert;
        max-height: 40dvh;
        transition: all ease-in-out 500ms;
    }

    &> .left {
        align-self: flex-start;
    }

    &> .right {
        align-self: flex-end;
    }

    &> .left,
    &> .right {
        border: 2px solid black;
        box-shadow: 5px 5px 0 black;
        padding: 10px;
    }

    .node {

        & img {
            height: 200px;
            float: left;
            margin-right: 15px;
        }

        &> a.heading {
            color: black;
            font-family: 'Bungee Shade', sans-serif;
            font-size: 2em;
            text-wrap: nowrap;
            text-decoration: none;
        }

        &> p {
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 1.5em;
            margin: revert;
        }
    }

    .node__path {
        display: flex;
        flex-flow: row nowrap;
        margin: 0 auto;

        &.flip {
            transform: rotateX(180deg);
        }
    }

    .node__path > div:nth-child(2) {
        margin: 48px 0 0 -95px;
    }

    .node:nth-of-type(1) { background: var(--pink); }
    .node:nth-of-type(2) { background: var(--cyan); }
    .node:nth-of-type(3) { background: var(--yellow); }
    .node:nth-of-type(4) { background: var(--teal); }
    .node:nth-of-type(5) { background: var(--purple); }

    & div.line {
        width: 500px; 
        height: 100px;  
        border: dotted 5px #000;
        border-color: #000 transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
        transform: rotate(190deg);
    }

    & div.line__reverse {
        width: 500px; 
        height: 100px;  
        border: dotted 5px #000;
        border-color: #000 transparent transparent transparent;
        border-radius: 50%/100px 100px 0 0;
    }
}

section.path > div.node:not(.node__path):hover {
    background: var(--orange);
}